PORT=4188
INK_TESTNET_PORT=4190
PUBLIC_URL=
BLOCKSCOUT_API=https://explorer.inkonchain.com/api/v2
BLOCKSCOUT_STATS_API=https://explorer.inkonchain.com/stats-service/api/v1
CONTRACT_INFO_API=https://contracts-info.services.blockscout.com/api/v1/chains/57073
INK_RPC=http://127.0.0.1:8545
INK_OP_NODE_RPC=http://127.0.0.1:9545
INK_PUBLIC_RPC=https://rpc-gel.inkonchain.com
INK_METRICS_URL=http://127.0.0.1:9001/metrics
INK_NODE_DATA_DIR=
INK_L1_FAILOVER_STATUS=http://127.0.0.1:18545/readyz
