PORT=4190
HOST=127.0.0.1
INK_NETWORK=sepolia
PUBLIC_URL=
EXPLORER_BROWSER_ORIGIN=
BLOCKSCOUT_API=https://explorer-sepolia.inkonchain.com/api/v2
BLOCKSCOUT_STATS_API=https://explorer-sepolia.inkonchain.com/stats-service/api/v1
CONTRACT_INFO_API=https://contracts-info.services.blockscout.com/api/v1/chains/763373
INK_RPC=http://127.0.0.1:8645
INK_OP_NODE_RPC=http://127.0.0.1:9645
INK_PUBLIC_RPC=https://rpc-gel-sepolia.inkonchain.com
INK_METRICS_URL=http://127.0.0.1:9101/metrics
INK_NODE_DATA_DIR=
